@page
@model MadMedOmtankeApp.Pages.EmployeePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.InitialSort">
                    @Html.DisplayNameFor(model => model.Employee[0].Initials)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Employee[0].Name)
                </a>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Employee[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].TlfNr)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirmEmail)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PositionSort">
                    @Html.DisplayNameFor(model => model.position.PositionName)
                </a>
            </th>  
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DepartmentSort">
                    @Html.DisplayNameFor(model => model.department.Location)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].ClosetManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Skills)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TlfNr)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirmEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Positions.First(x => x.ID == item.PositionID).PositionName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => Model.Departments.First(x => x.ID == item.DepartmentID).Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosetManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |*@
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                @*<a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
